* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #344E5C;
    --cor2: #608FA8;
    --cor3: #667075;
    --cor4: #92A1A8;
    --cor5: #8CD0F5;
    --cor6: #AD060E;

    --fonte_principal: 'Montserrat', sans-serif;
    --font_titulo: 'Open Sans', sans-serif;
    --fonte_titulo2: 'Roboto', sans-serif;
}

/*Inicio Config Geral*/
/*Fim Config Geral*/


/*Inicio Area do menu*/

#area-cabecalho {
    height: 65px;
    padding: 10px;
    background-color: white;
}


#area-logo {
    padding-right: 10px;
    width: 300px;
    height: 68px;
}

#area-menu {
    display: inline-block;
    height: 25px;
    border-radius: 0.4em;
    position: absolute;
    z-index : 99;
    right: 10px;
    top: 0px;
    margin-right: 40px;
}

/*Fim Area do menu*/

hr#menu {
    
    border: solid 3px #FDD16E;
}

/*menu dropdown início*/
.dropdown-first {
    border-top: solid 4px black;
}

.dropdown-first:hover {
    border-top: solid 4px #e4a803;
}

#area-menu ul {
    list-style-type: none;
    padding-top: 25px;
}

#area-menu ul li {
    display: inline;
    position: relative;
}

#area-menu ul ul {
    display: none;
    position: absolute;
    left: 0;
    padding-top: 10px;
}

#area-menu ul li:hover ul {
    display: inline-block;
}

#area-menu ul ul {
    width: 200px;
    margin: 20px;
}

#area-menu ul ul li a {
    display: block;
    color: black;
    background-color: whitesmoke;
    font-size: 15px;
}

#area-menu ul ul li a:hover {
    background-color: #e4a803;
    border-radius: 0;
}

/*menu dropdown fim*/

/* Formatação do menu*/

header {
    padding-top: 20px;
    padding-left: 20px;
}

nav {
    float: right;
    margin-top: 25px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    list-style-type: none;
}

nav a {
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
}

nav a:hover {
    transition: border ease-in 0.15s, color ease-in 0.15s;
    color: #e4a803;
    border-top: 4px solid #FDD16E;
}

.menu-link {
    padding-top: 40.6px;
}

.links a:hover {
    border-top: 0px;
}


nav a.ativo {
    color: #050A31;
    padding: 1em;
}

nav a.ativo:hover {
    color: black;
}

.icone {
    width: 12px;
    height: 12px;
    margin-left: 6px;
}

/*inicio modal*/
#fale-conosco{
    color: #e4a803;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    color: rgb(0, 0, 0)
}

/* Modal Content/Box */
.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    border: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #050A31;
    font-weight: bold;
    text-decoration: none;
}

#myBtn:hover {
    transition: border ease-in 0.15s, color ease-in 0.15s;
    color: #a60000;
    border-top: 4px solid #a60000;
}

form {
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: left;
    margin: 10px 0px 0px 20px;
}

form p {
    padding-top: 15px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}

form input[type=submit] {
    background-color: #e4a803;
    color: white;
    border-radius: 20px;
    border: 1px solid #e4a803;
    height: 50px;
    width: 240px;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

form input:focus,
form textarea:focus {
    background-color: wheat;
}

#mensagem {
    border-radius: 20px;
    width: 700px;
    height: 180px;
    border: 1px solid #FDD16E;
    padding-left: 15px;
    padding-top: 15px;
}

#nome {
    border: 1px solid #FDD16E;
    border-radius: 20px;
    padding: 15px;
    width: 250px;
}

#email {
    border: 1px solid #FDD16E;
    border-radius: 20px;
    padding: 15px;
    width: 250px;
}

#assunto {
    border: 1px solid #FDD16E;
    border-radius: 20px;
    padding: 15px;
    width: 250px;
}

/*fim modal*/

/*parallax*/
.parallax-ds,
.parallax-ma,
.parallax-adm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.parallax-ds h1,
.parallax-ma h1 {
    color: black;
    text-shadow: 0 1px black;
    font-size: 25px;
    font-family: Noto Sans, sans-serif;
    text-align: center;
    padding: 20px;
}

.parallax-ds p,
.parallax-ma p {
    color: black;
    font-size: 20px;
    font-family: Noto Sans, sans-serif;
    text-align: center;
    text-shadow: 0 1px black;
    padding: 10px;
}

.parallax-ma {
    background-image: url('../imagens/meio_ambiente.png');
}

.parallax-ds{
    background-image: url(../imagens/imgds.png);
}

.cursos {
    margin: 50px;
}

#curso {
    padding: 15px;
    font-family: Bradley Hand, cursive;
}


.sobre {
    font-family: Comic Sans MS, Comic Sans, cursive;
    float: left;
    width: 45%;
    padding: 40px;
}


.habilidades {
    font-family: Comic Sans MS, Comic Sans, cursive;
    float: right;
    width: 40%;
    padding: 40px;
}

#informacoes{
    margin: auto;
    max-width: 1200px;
    position: relative;
    width: 90%;
    z-index: 3;
}

.competencias {
    width: 60%;
    max-width: 600px;
    float: left;
    margin: 120px;
}

.competencias h2{
    font-size: 2.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.competencias h3{
    font-size: 1.5em;
}

.competencias details{
    width: 1000px;
    margin: 15px auto;
}

.competencias details summary {
    color: white;
    background-color: #e4a803;
    border: 1px solid #e4a803;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    padding: 1%;
}

.competencias details summary:hover{
    color: black;
    background-color: #e4a803;
    border: 1px solid #3e4549;
}

.competencias summary img{
    float: right;
    padding-top: 10px;
}

.grade{
    margin-right: -1px;
    padding: 30px 12px 90px;
}

.btn{
    background: none;
    border-width: 0 1px 1px 0;
    color: #91a3ad;
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font: 16px/24px Gotham HTF Light;
    outline: none;
    padding: 30px 0;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 24.6%;
    z-index: 2;
}

.grade-span{
    display: table-cell;
    padding: 0 30px;
    vertical-align: middle;
}

/*rodape*/
#rodape-info {
    width: 100%;
    background-color: rgb(76, 76, 76);
}

#rodape-info {
    display: flex;
    align-items: center;
    height: 200px;
}

#rodape-info h2 {
    color: #fff;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 20px;
}

#rodape-info p {
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f4d8d8;
    font-size: 15px;
}

#rodape-info img {
    height: 25px;
    width: 25px;
    margin: 8px;
}

#rodape-info .logo-rodape {
    display: flex;
    justify-content: center;
    min-height: 10vh;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%{
        filter: hue-rotate(0deg);

    }
    100%{
        filter: hue-rotate(05deg);

    }
}

#rodape-info h3 {
    color: #344E5C;
    padding: 0px 20px;
}

.secretaria,
.biblioteca,
.endereco,
.redes {
    padding-left: 120px;
}

.biblioteca h3 {
    text-align: center;
}

hr.rodape {
    border-color: #FDD16E;
}

.endereco {
    width: 150px;
    height: 120px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.redes ul {
    display: flex;
    text-align: center;
}

.redes ul li {
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #2A2A2A;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
}

.redes ul li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    /* background: #d35400; */
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
}

.redes ul li:nth-child(1):before {
    background: #e4a803;
}

.redes ul li:nth-child(2):before {
    background: #e4a803;
}

.redes ul li:nth-child(3):before {
    background: #e4a803;
}

.redes ul li:nth-child(4):before {
    background: #e4a803;
}

.redes ul li:nth-child(5):before {
    background: #e4a803;
}

.redes ul li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
}

.redes ul li:nth-child(1):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(2):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(3):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(4):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(5):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(1):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(2):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(3):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(4):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(5):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

address {
    height: 50px;
    text-align: center;
    background-color: rgb(42, 42, 42);
}

address p {
    padding-top: 15px;
    font-family: var(--fonte_titulo2);
    color: whitesmoke;
}