*  {
	margin: 0;
	padding: 0;
}
:root{
    --cor1: #344E5C;
    --cor2: #608FA8;
    --cor3: #667075;
    --cor4: #92A1A8;
    --cor5: #8CD0F5;
    --cor6: #AD060E;

    --fonte_principal:'Montserrat', sans-serif;
    --font_titulo:'Open Sans', sans-serif;
    --fonte_titulo2:'Roboto', sans-serif;
}


/*Area do menu*/

#area-cabecalho {
    height: 100px;
	padding: 10px;
	text-align: center;
	background: rgb(116, 2, 2);
}


#area-logo, #area-menu {
	padding: 5px;
    text-align: center;
}

#area-menu {
	background: rgb(253, 251, 251);
	display: inline-block;
    height: 25px;
    border-radius: 0.4em;
    position: absolute;
    right: 10px;
    top: 40px;
    margin-right: 40px;
}
 

/* Formatação do menu*/

  a {
      text-decoration: none;

}

.logo {
    width: 402px;
    height: 80px;
    background: url(../imagens/logo-menu.png) no-repeat center;
	text-indent: -3000px;
}

#area-cabecalho ,a:link ,a:visited {
	color: darkred;
	padding: 4px  12px;
	font-size: 22px;
}


#area-cabecalho a:hover {
	color:whitesmoke;
	background: darkred;
	text-decoration: none;
    border-radius: 0.4em;
}

#area-menu ul{
    list-style-type: none;
}

#area-menu ul li{
    display: inline;
    position: relative;
}

#area-menu ul ul{
    display: none;
    position: absolute;
    left: 0;
    padding-top: 10px;
}

#area-menu ul li:hover ul{
    display: inline-block;
}

#area-menu ul ul{
    width: 200px;
}

#area-menu ul ul li a{
    display: block;
    color: rgb(255, 255, 255);
    background-color: #D94141;
    font-size: 20px;
}

#area-menu ul ul li a:hover{
    background-color: rgb(158, 36, 36);
    border-radius: 0;
    
}

.icone {
    width: 12px;
    height: 12px;
    margin-left: 6px;
    
}



/*fim formatação do menu*/

/*Formatação conteúdo principal*/
main{
    background-color: #fff;
    padding-bottom: 40px;
}

/* início carroussel */ 
.carroussel{
    background-color: white;
    padding: 120px 0 100px;
    width: 100%;
    overflow: auto;
}

.js .carroussel{
    overflow: hidden;
    color: white;
}

.js .carroussel .fotos{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 1024px;
}

.js .carroussel figure{
    opacity: 0;
    transition: 1s opacity;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.js .carroussel figure.show{
    opacity: 1;
    position: static;
}

.js .carroussel .prev, .js .carroussel .next{
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.js .carroussel .prev{
    left: 10px;
}

.js .carroussel .next{
    right: 10px;
}

.fotos{
    white-space: nowrap;
}

.carroussel figure{
    display: inline-block;
}

/* fim carroussel */ 


/*Início dos cards*/


.card a {
       color: darkred;
       border: 1px solid darkred;
       display: block;
       border-radius: 0.25em;
       font-size: 18px;
}

.card a:hover {
      color: white;
      background-color: darkred;
      transition: 0.7s ease all;
      cursor: pointer;
}

.cursos{
    padding-top: 10px;
    padding-bottom: 75px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    padding-left: 83px;
    padding-right: 40px;
    border: 1px solid red;
}

.cursos h1{
    text-align: center;
    color: darkred;
    font-size: 60px;
    font-family: var(--fonte_principal);
}

.card{
    width: 15%;
    height: 250px;
    margin: auto;
    font-family: arial;
    background-color: whitesmoke;
    border: 1.5px solid rgb(230, 227, 227);
    float: left;
    text-align: center; 
    margin: 25px;
}

.card:hover{
    box-shadow: 0 0 0.7em rgb(153, 152, 152);
    transition: 0.5s;
}

.card img{
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 0.6em;
}

.card h2{
    margin-top: 30px;
    text-align: center;
    color: darkred;
    font-size: 15px;
    padding: 10px;
}

.card a{
    text-decoration: none;
}

.card h2:hover{
    color: var(--cor6);
}

.link-card{
    margin-top: 18px;
    padding: 8px;
}

/*Fim dos cards*/

/*Início da formatação das páginas dos cursos*/

#area-banner-curso {
        height: 220px;
        text-align: center;
        background-image: url(../cursos/imagens/banner-info.jpg);
        background-size: cover;
        background-position-y: -50vh;
        opacity: 90%;
}


 #area-banner-curso h1 {
       color: white;
       padding-top: 62px;
       opacity: 100%;
       font-size: 5em;
       text-transform: uppercase;
       -webkit-text-stroke-width: 2px;
       -moz-text-stroke-width: 2px;
       -webkit-text-stroke-color: rgb(4, 91, 141);
       -moz-text-stroke-color: rgb(4, 91, 141);

}

#area-conteudo-curso {
    padding-top: 10px;
    padding-bottom: 75px;
    height: 1100px;
    background-color: rgb(255, 255, 255);
    padding-left: 83px;
    padding-right: 40px;
    
      
}

 .card-curso {
    width: 25%;
    height: 450px;
    margin: auto;
    font-family: arial;
    background-color: rgb(5, 119, 185);
    border: 1.5px solid rgb(230, 227, 227);
    float: left;
    text-align: center; 
    margin: 25px;
    z-index:1;
 }

 .card-curso2 {
    width: 25%;
    height: 530px;
    margin: auto;
    font-family: arial;
    background-color: rgb(5, 119, 185);
    border: 1.5px solid rgb(230, 227, 227);
    float: left;
    text-align: center; 
    margin: 25px;
    z-index: 2;
 }


 #area-conteudo-curso h2 {
     color: rgb(240, 236, 236);
     padding-top: 25px;
 }
    
#area-conteudo-curso p {
    color:white;
    padding-top: 40px;
}

.card-curso-img {
    height: 200px;
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.card-curso-img2 {
    height: 200px;
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.card-curso-img3 {
    height: 160px;
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

/*Fim da formatação das páginas dos cursos*/
/*Início da Galeria*/


.parallax {
    background-image: url(../imagens/escola01.jpg);
    height: 390px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax img{
    width: 15%;
    height: 150px;
    padding: 20px;
}

.imagem-baixo{
    width: 20%;
    display: inline-block;
    margin-left:90px;
}

/*Fim da Galeria*/

/*Início do rodapé*/
footer{
    width: 100%;
    background-color: rgb(116, 2, 2);
}

#rodape{
    display: flex;
    align-items: center;
    height: 200px;
}

#rodape h2{
    color: #fff;
    font-family: 'Roboto',arial, sans-serif;
    font-size: 20px;
}

#rodape p{
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f4d8d8;
    font-size: 15px;
}

#rodape img{
    height: 25px;
    width: 25px;
    margin: 8px;
}

#rodape h3{
    color: #344E5C;
    padding: 0px 20px ;
}

.secretaria, .biblioteca,.endereco, .redes{
    padding-left: 120px;
}

.biblioteca h3{
    text-align: center;
}

.endereco{
    width: 150px;;
    height: 120px;
}

.redes{
    padding-top: 25px;
    width: 150px;
    height: 120px;
}

address{
    margin-top: 15px;
    height: 50px;
    text-align: center;
    background-color: rgb(116, 2, 2);
}

address p{
    padding-top: 15px;
    font-family: var(--fonte_titulo2);
    color: whitesmoke;
}

/*Fim do rodapé*/

/*Início formatação área história*/

main{
    background-color: gainsboro;
    width: 100%;
    height: 1500px;
}

.conteudo-principal-historia{
    background-color: rgb(249, 249, 240);
    float: right;
    margin-right: 20%;
    margin-top: 20px;
    width: 700px;
}

.conteudo-principal-historia h1{
    font-family: var(--fonte-titulo);
    color: brown;
    padding: 10px;
    text-align: center;
}

.conteudo-principal-historia p{
    font-family: var(--fonte-principal);
    padding: 20px;
}

.conteudo-principal-historia p a{
    font-family: var(--fonte-principal);
    font-size: 1em;
    padding: 0px;
}

.conteudo-principal-historia p a:hover{
    text-decoration: underline;

}

.menu-lateral-historia{
    padding-top: 30px;
    padding-left: 20px;
    width: 300px;
}

.menu-lateral-historia ul{
    list-style-type: none;
}

.menu-lateral-historia ul li{
    background-color: brown;
    padding: 7px;
}

.menu-lateral-historia a{
    font-size: 20px;
    color: azure;
}

.menu-lateral-historia a:hover{
    background-color: darkred;
}

.imagens-historia{
    float: right;
    margin-top: 20px;
    padding-left: 45px;
}

.imagens-historia img{
    padding: 20px;
    height: 150px;
    width: 250px;
}
/*fim formatação área história

início da fomatação página professores*/

main{
    margin-bottom: 200px;
}

.conteudo-pricipal-membros{
    padding-top: 10px;
    padding-bottom: 75px;
    height: 1700px;
    background-color: rgb(255, 255, 255);
    padding-left: 83px;
    padding-right: 40px;
    border: 1px solid red;
}

.conteudo-pricipal-membros h1{
    font-family: var(--font_titulo);
    text-align: center;
    color: brown;
    padding-top: 20px;
}

.conteudo-pricipal-membros h2{
    margin-top: 60px;
    font-family: var(--fonte_titulo2);
    text-align: center;
    color: rgb(103, 47, 47);
}

.card-membros{
    width: 20%;
    height: 300px;
    background-color: #CCC;
    margin: 30px;
    float: left;
}

.card-membros p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: rgb(46, 45, 44);
}

  .card-membros img{
    width: 80%;
    padding-left: 20px;
    padding-top: 20px;
  }
  
  .card-membros:hover {
    box-shadow: 0 0 0.7em rgb(153, 152, 152);
    transition: 0.5s;
  }

  .card a{
    text-decoration: none;
}

.card h2:hover{
    color: var(--cor6);
}

.link-card-membros p{
    border: 1px solid darkred;
    font-size: 20px;
    color: darkred;
    border-radius: 0.25em;
    margin-top: 20px;
    padding: 7px;
}

.link-card-membros p:hover{
    background-color: darkred;
    color: #CCC;
    transition: 00.5s;
}

.imagens-membros{
    height: 150px;
    width: 300px;
}