*  {
	margin: 0;
	padding: 0;
}
:root{
    --cor1: #344E5C;
    --cor2: #608FA8;
    --cor3: #667075;
    --cor4: #92A1A8;
    --cor5: #8CD0F5;
    --cor6: #AD060E;

    --fonte_principal:'Montserrat', sans-serif;
    --font_titulo:'Open Sans', sans-serif;
    --fonte_titulo2:'Roboto', sans-serif;
}

/*Inicio Config Geral*/
/*Fim Config Geral*/


/*Inicio Area do menu*/

#area-cabecalho {
    height: 55px;
	padding: 10px;
    background-color: rgba(93, 93, 224, 0.1);
}


#area-logo{
	padding-right: 10px;
    width: 300px;
    height: 50px;
}

#area-menu {
	display: inline-block;
    height: 25px;
    border-radius: 0.4em;
    position: absolute;
    right: 10px;
    top: 0px;
    margin-right: 40px;
}

/*Fim Area do menu*/
 
/*menu dropdown início*/
.dropdown-first{
    border-top: solid 4px #a60000;
} 



#area-menu ul{
    list-style-type: none;
    padding-top: 20px;
}

#area-menu ul li{
    display: inline;
    position: relative;
}

#area-menu ul ul{
    display: none;
    position: absolute;
    left: 0;
    padding-top: 10px;
}

#area-menu ul li:hover ul{
    display: inline-block;
}

#area-menu ul ul{
    width: 200px;
    margin: 20px;
}

#area-menu ul ul li a{
    display: block;
    color: rgb(255, 255, 255);
    background-color: #050a31a8;
    font-size: 15px;
}

#area-menu ul ul li a:hover{
    background-color: #9e2424a8;
    border-radius: 0;
}
/*menu dropdown fim*/

/* Formatação do menu*/

header{
    padding-top: 20px;
    padding-left: 20px;

}

nav{
    float: right;
    margin-top: 25px;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    list-style-type: none;
}

nav a{
    font-family: sans-serif;
    font-size: 15px;
    color: #050A31;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
}

nav a:hover{
    transition: border ease-in 0.15s, color ease-in 0.15s;
    color: #a60000;
    border-top: 4px solid #a60000; 
}

.menu-link{
    padding-top: 40.6px;
}

.links a:hover{
    border-top: 0px;
}


nav a.ativo{
    color: #050A31;
    padding: 1em;
}

nav a.ativo:hover{
    color: #a60000;
}

.icone {
    width: 12px;
    height: 12px;
    margin-left: 6px;
}

/*fim formatação do menu*/

/*Formatação conteúdo principal*/
main{
    background-color: #fff;
}

/* início carroussel */ 
.carroussel{
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;
}

.js .carroussel{
    overflow: hidden;
    color: white;
}

.js .carroussel .fotos{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 950px;
}

.js .carroussel figure{
    opacity: 0;
    transition: 1s opacity;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.js .carroussel figure.show{
    opacity: 1;
    position: static;
}

.js .carroussel .prev, .js .carroussel .next{
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.js .carroussel .prev{
    left: 10px;
}

.js .carroussel .next{
    right: 10px;
}

.fotos{
    white-space: nowrap;
}

.fotos figure{
    display: inline-block;
}

/* fim carroussel */ 


/*Inicio area história*/

.historia{
    background-color: #ffffff;
    padding: 10px;
    margin: 30px;
    width: 80%;
    padding-left: 10%;
}

.historia h1{
    text-align: center;
    color: #344E5C;
    margin-bottom: 30px;
    font-size: 50px;
}

.historia p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0px 15px 0px; 
    text-align: justify;
    text-indent: 2px;
    font-size: 1em;
    line-height: 2em;
    margin: 10px 0px 10px 0px;
}
/*Fim historia*/

/*Início dos cards*/


.card a {
       color: darkred;
       border: 1px solid darkred;
       display: block;
       border-radius: 0.25em;
       font-size: 18px;
}

.card a:hover {
      color: white;
      background-color: darkred;
      transition: 0.7s ease all;
      cursor: pointer;
}

.cursos{
    padding-top: 10px;
    padding-bottom: 75px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    padding-left: 83px;
    padding-right: 40px;
}

.cursos h1{
    text-align: center;
    color: darkred;
    font-size:50px;
    font-family: var(--fonte_principal);
}

.card{
    width: 15%;
    height: 270px;
    margin: auto;
    font-family: arial;
    background-color: whitesmoke;
    border: 1.5px solid rgb(230, 227, 227);
    float: left;
    text-align: center; 
    margin: 25px;
}

.card:hover{
    box-shadow: 0 0 1.5em rgb(153, 152, 152);
    transition: 0.5s;
}

.card img{
    height: 100px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card h2{
    margin-top: 30px;
    text-align: center;
    color: darkred;
    font-size: 15px;
    padding: 10px;
}

.card a{
    text-decoration: none;
}

.card h2:hover{
    color: var(--cor6);
}

.link-card {
    margin: 45px 15px 45px 15px;
    padding: 4px;
}

/*Fim dos cards*/

/*Inicio da formatacao dos depoimentos*/
/*Fim da formatacao dos depoimentos*/

/*Início da Galeria*/

.galeria{
    width: 100vw;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagens-galeria{
    width: 950px;
    height: 700px;
    padding-top: 50px;
    background: rgb(255, 255, 255);
}

/*Fim da Galeria*/

/*Início do rodapé*/

#rodape-info{
    width: 100%;
    background-color: #1e56a0;
}

#rodape-info{
    display: flex;
    align-items: center;
    height: 200px;
}

#rodape-info h2{
    color: #fff;
    font-family: 'Roboto',arial, sans-serif;
    font-size: 20px;
}

#rodape-info p{
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f4d8d8;
    font-size: 15px;
}

#rodape-info img{
    height: 25px;
    width: 25px;
    margin: 8px;
}

#rodape-info h3{
    color: #344E5C;
    padding: 0px 20px ;
}

.secretaria, .biblioteca,.endereco, .redes{
    padding-left: 120px;
}

.biblioteca h3{
    text-align: center;
}

.endereco{
    width: 150px;;
    height: 120px;
}

.redes{
    padding-top: 25px;
    width: 150px;
    height: 120px;
}

address{
    height: 50px;
    text-align: center;
    background-color: rgb(40, 134, 206);
    
}

address p{
    padding-top: 15px;
    font-family: var(--fonte_titulo2);
    color: whitesmoke;
}

/*Fim do rodapé*/

/*Início formatação área história*/



.conteudo-principal-historia{
    background-color: rgb(249, 249, 240);
    float: right;
    margin-right: 20%;
    margin-top: 20px;
    width: 700px;
}

.conteudo-principal-historia h1{
    font-family: var(--fonte-titulo);
    color: brown;
    padding: 10px;
    text-align: center;
}

.conteudo-principal-historia p{
    font-family: var(--fonte-principal);
    padding: 20px;
}

.conteudo-principal-historia p a{
    font-family: var(--fonte-principal);
    font-size: 1em;
    padding: 0px;
}

.conteudo-principal-historia p a:hover{
    text-decoration: underline;

}

.menu-lateral-historia{
    padding-top: 30px;
    padding-left: 20px;
    width: 300px;
}

.menu-lateral-historia ul{
    list-style-type: none;
}

.menu-lateral-historia ul li{
    background-color: brown;
    padding: 7px;
}

.menu-lateral-historia a{
    font-size: 20px;
    color: azure;
}

.menu-lateral-historia a:hover{
    background-color: darkred;
}

.imagens-historia{
    float: right;
    margin-top: 20px;
    padding-left: 45px;
}

.imagens-historia img{
    padding: 20px;
    height: 150px;
    width: 250px;
}
/*fim formatacao area historia*/

/*inicio da fomatacao pagina professores*/

#menu-prof ul {
    margin: 0;
    list-style-type: none;
    width: 342px;
    height: 990px;
    background: #998842 no-repeat left bottom;
    position: fixed;
    text-align: center;
    padding-top: 185px;
}

 #menu-prof ul li  a {
    text-decoration: none;
    color: whitesmoke; 
    font-size: 30px;
    text-decoration: underline 0.2px #1e56a0;
    display: block;
    padding: 0.3em;
                                                 
 }
 
 #menu-prof ul h2 {
    font-size: 43px;
    color: white;
    margin-bottom: 35px;
 }

 #container-prof {
    width: 268px;
    height: 990px;
    float:  right;
    background-color: white;
    

 }

 #container-prof-img {
    width: 690px;
    height: 400px;
    float: right;

 }

 .img-professor {
     width: 250px;
     height: 330px;
     border: 0.5px #1e56a0 solid;
 }

 .font-prof {
    font-size: 25px;
    padding-bottom: 6px;
 }

 .tit-prof {
      text-align: center;
      font-size: 35px;
      margin-top: 20px;
      

 }

 .his-prof {
       font-size: 16px;
       
 }

 .his-voltar   {
    font-size: 53px;
    padding-bottom: 31px;
 }
 /*Fim da formatacao da area professores*/

/*Inicio da formatacao da area dos depoimentos*/
.img-dep {
    border-radius: 50%;
    width: 220px;
    padding: 25px;
    padding-left: 18px;
}
.container-dep {
    width: 20%;
    height: 500px;
    margin: auto;
    font-family: arial;
    float: left;
    background-color: #E6E6E6;
    text-align: center; 
    margin: 25px;

} 
.text-dep {
    font-size: 15px;
}

#depoimentos {
    background-color: #E6E6E6;
    width: auto;
    height: 700px;
}
#titulo-dep {
    color: #333333;
    padding-top: 0px;
    font-size: 50px;
    text-align: center;
    font-family: var(--fonte_principal);
    background-color: #E6E6E6;
}
/*Fim da formatacao da area dos depoimentos*/





