@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");

html {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #344E5C;
    --cor2: #608FA8;
    --cor3: #667075;
    --cor4: #92A1A8;
    --cor5: #8CD0F5;
    --cor6: #AD060E;

    --fonte_principal: inherit;
    --font_titulo: inherit;
    --fonte_titulo2: inherit;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    color: rgb(0, 0, 0)
}

/* Modal Content/Box */
.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    border: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #050A31;
    font-weight: bold;
    text-decoration: none;
}

#myBtn:hover {
    transition: border ease-in 0.15s, color ease-in 0.15s;
    color: #a60000;
    border-top: 4px solid #a60000;
}

form {
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: left;
    margin: 10px 0px 0px 20px;
}

form p {
    padding-top: 15px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}

form input[type=submit] {
    background-color: #e4a803;
    color: white;
    border-radius: 20px;
    border: 1px solid #e4a803;
    height: 50px;
    width: 240px;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

form input:focus,
form textarea:focus {
    background-color: wheat;
}

#mensagem {
    border-radius: 20px;
    width: 700px;
    height: 180px;
    border: 1px solid #FDD16E;
    padding-left: 15px;
    padding-top: 15px;
}

#nome {
    border: 1px solid #FDD16E;
    border-radius: 20px;
    padding: 15px;
    width: 250px;
}

#email {
    border: 1px solid #FDD16E;
    border-radius: 20px;
    padding: 15px;
    width: 250px;
}

#assunto {
    border: 1px solid #FDD16E;
    border-radius: 20px;
    padding: 15px;
    width: 250px;
}

/*fim formatação do menu*/

/*Formatação conteúdo principal*/
main {
    background-color: #fff;
}

/* início carroussel */

.fotos {
    width: 1310px;
}

/* fim carroussel */


/*Inicio area história*/

.historia {
    background-color: #ffffff;
    padding-left: 250px;
    padding-right: 250px;
}

h1.tituloHistoria {
    font-family: 'Arvo';
    text-align: center;
    color: #e4a803;
    margin-bottom: 30px;
    font-size: 35px;
    padding-top: 40px;
}

.historia p {
    font-family: 'Source Sans Pro';
    margin: 15px 0px 15px 0px;
    text-align: justify;
    color: black;
    text-indent: 2px;
    font-size: 1em;
    line-height: 2em;
    margin: 10px 0px 10px 0px;
}

/*Fim historia*/



/*Início da Galeria*/

.galeria {
    width: 100vw;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagens-galeria {
    width: 950px;
    height: 700px;
    padding-top: 100px;
    background: rgb(255, 255, 255);
}

.lightwidget__btn {
    background-color: yellow;
    border: orange;
    color: #efefee;
}

/*Fim da Galeria*/

/*Início do rodapé*/

#rodape-info {
    width: 100%;
    background-color: rgb(76, 76, 76);
}

#rodape-info {
    display: flex;
    align-items: center;
    height: 200px;
}

#rodape-info h2 {
    color: #fff;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 20px;
}

#rodape-info p {
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f4d8d8;
    font-size: 15px;
}

#rodape-info img {
    height: 25px;
    width: 25px;
    margin: 8px;
}

#rodape-info .logo-rodape {
    display: flex;
    justify-content: center;
    min-height: 10vh;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);

    }

    100% {
        filter: hue-rotate(05deg);

    }
}

#rodape-info h3 {
    color: #344E5C;
    padding: 0px 20px;
}

.secretaria,
.biblioteca,
.endereco,
.redes {
    padding-left: 120px;
}

.biblioteca h3 {
    text-align: center;
}

hr#rodape {
    border-color: #FDD16E;
}

.endereco {
    width: 150px;
    height: 120px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.redes ul {
    display: flex;
    text-align: center;
}

.redes ul li {
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #2A2A2A;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
}

.redes ul li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    /* background: #d35400; */
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
}

.redes ul li:nth-child(1):before {
    background: #e4a803;
}

.redes ul li:nth-child(2):before {
    background: #e4a803;
}

.redes ul li:nth-child(3):before {
    background: #e4a803;
}

.redes ul li:nth-child(4):before {
    background: #e4a803;
}

.redes ul li:nth-child(5):before {
    background: #e4a803;
}

.redes ul li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
}

.redes ul li:nth-child(1):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(2):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(3):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(4):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(5):hover:before {
    box-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(1):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(2):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(3):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(4):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

.redes ul li:nth-child(5):hover {
    color: #e4a803;
    box-shadow: 0 0 15px #e4a803;
    text-shadow: 0 0 15px #e4a803;
}

address {
    height: 50px;
    text-align: center;
    background-color: rgb(42, 42, 42);
}

address p {
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

/*Fim do rodapé*/

/*inicio da fomatacao pagina professores*/

#menu-prof ul li p {
    color: black;
    font-size: 25px;
    margin-top: 25px;
    border: 0.2px solid black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 8px;
    
}


#menu-prof ul {
    list-style-type: none;
    width: 502px;
    height: 990px;
    background: #e4a803 no-repeat left bottom;
    position: fixed;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: 2px solid black;
}

#menu-prof ul li a {
    text-decoration: none;
    color: #e4a803;
    background-color: black;
    font-size: 25px;
    margin-top: 43px;
    text-decoration: none;
    display: block;
    padding: 0.3em;
    margin-bottom: 3px;
    border: 1px solid black;
    border-radius: 20px;

}

#menu-prof ul li a:hover {
     transform: scale(0.875);
     transform-origin: center;
     transition: transform 200ms ease-in;
     transition-delay: 50ms;
     
}
#menu-prof ul h2 {
    font-size: 38px;
    color: white;
    ;
}

#container-conteudo-prof {
    margin-right: 160px;
    margin-top: 20px;
    width: 858px;
    height: 950px;
    float: right;
    background-color: whitesmoke;
    border: 1px solid black;


}

.subtit {
    text-align: center;
    text-decoration: underline;
    margin-top: 5px;
    font-size: 42px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.text-container {
    font-size: 32px;
    margin-top: 55px;
    margin-left: 25px;
}

.text-rel {
    font-size: 18px;
    margin-top: 25px;
    margin-left: 25px;
}


/*Fim da formatacao da area professores*/

/*Inicio da formatacao da area dos depoimentos*/
#depoimentos {
    background-color: #ffffff;
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-dep {
    border-radius: 50%;
    width: 220px;
    padding: 25px;
    padding-left: 18px;
}

.container-dep {
    width: 250px;
    height: 320px;
    margin: auto;
    font-family: arial;
    float: left;
    background-color: #ffffff;
    margin: 25px;
    align-items: center;
}

.text-dep {
    font-family: 'Source Sans Pro';
    color: #858585;
    font-size: 15px;
    text-align: center;
    line-height: 130%;
    width: 250px;
}

p.depoimentos{
    font-size: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #3d3d3d;
    text-align: center;
}

#titulo-dep {
    color: #e4a803;
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
    font-family: 'Arvo';
    background-color: #ffffff;
}

hr.depoimentos {
    border-color: #FDD16E;
}

/*Fim da formatacao da area dos depoimentos*/